body {
    background-color: white
    
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
}


.horoscopes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zoom {
        padding: 10px;
        transition: transform .2s; /*Animation*/
        width: 200px;
        height: 200px;
        margin: 0 auto;
        align-items: center;
    }

.zoom:hover {
    transform: scale(1.1); /* (110% zoom) */
}

.col.zoom {
   /* border: 2px solid red; */
   display: flex;
   justify-content: center;

}

.row1  {
    color: black;
}

.col.zoom > a > img {
    height: 160px;;
    width: 160px;
}


.row1 a:hover {
    background-color: pink;
}

nav {
    font-family: Caladea;
    font-size: larger;
    text-decoration: none;
 }




@media (min-width: 992px) {

    .container {
        min-width: 700px;
    }

}

.container {
    width: 20vw;
    margin:auto;
}

.horoscopes {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 300px;

}

nav > .nav-tabs {
    color: black;
    text-decoration: none;
}

.contact {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    color: pink;
    ;
}


* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    margin: 8px 0;    
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background-color: pink;
}

.btn-purple {
    background: #a541a8;
    color: #fafafa;
    text-transform: capitalize;
}

.column {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 70%;
}

.container2 {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 70%;
}

p {
    color: gray;
    margin: auto;
    text-align: center;
}

h1 {
    color: pink;
    margin: auto;
    text-align: center;
}

h2 {
    color: pink;
    margin: auto;
}

h5 {
    color: rgb(179, 100, 179);
    margin: auto;
}

.ariesimg {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-button {
    margin-top: 15px;
}

.h2 {
    margin-bottom: 5px;
}

.flex-center-inline-center-cards {
    margin-top: 15px;
}

.h1 {
    margin: auto;
}

.main {
    margin: auto;
    align-items: center;
    text-align: center;
}